SCHEMATIC START ;
// created by map version F.28 on Mon Sep 20 09:21:39 2004 
COMP "e" LOCATE =  SITE "W18" LEVEL 1; 
COMP "f" LOCATE =  SITE "W13" LEVEL 1; 
COMP "g" LOCATE =  SITE "AB13" LEVEL 1; 
COMP "a" LOCATE =  SITE "AA13" LEVEL 1; 
COMP "b" LOCATE =  SITE "Y13" LEVEL 1; 
COMP "c" LOCATE =  SITE "Y18" LEVEL 1; 
COMP "d" LOCATE =  SITE "AA20" LEVEL 1; 
SCHEMATIC END ;
